<div class="about">
  <p>Hola olada qwer ewrw werewrwe
      wer wer w  werwe rwerfcwefwe
      w wf dfcfew werf werfwer
      ewrwe</p>
      <p>Dinesh <a href="#">Dinesh Gurumurthy</a> f3efwefwee</p>
      <p>hola hola hola hola hola</p>
</div>